$purple-heart: #8E43E7;
$mulberry: #B84592;
$radical-red: #FF4F81;
$bittersweet: #FF6C5F;
$koromiko: #FFC168;
$shamrock: #2DDE98;
$java: #1CC7D0;
$algolia-blue: #00AEFF;
$royal-blue: #3369E7;
$bunting: #182359;
$deep-cove: #050F2C;
$titan-white: #F7F7FF;

$logan: #9D9DBD;

$success: $shamrock;
$warning: $koromiko;
$danger: $radical-red;
$info: $algolia-blue;

$aside-vertical-width: 12rem;
$aside-horizontal-height: 4rem;
