doctype html
html(lang="en")
  include ./partials/header
  body
    .reveal
      .slides.bg-white.lh-copy.bunting.f3.fw3

        include ./slides/title
        include ./slides/presentation
        include ./slides/algolia

        include ./slides/april-fools
        include ./slides/demo
        include ./slides/css-strengths
        include ./slides/base-skills
        include ./slides/javascript
        include ./slides/n-grams
        include ./slides/several-results
        include ./slides/layout
        include ./slides/random
        include ./slides/searchable-attributes
        include ./slides/edge-cases
        include ./slides/highlight
        include ./slides/custom-font
        include ./slides/order
        include ./slides/custom-ranking
        include ./slides/tie-breaking
        include ./slides/typos
        include ./slides/synonyms
        include ./slides/facets
        include ./slides/conclusion

        include ./slides/idea


        include ./partials/aside-horizontal
        include ./partials/aside-vertical

    include ./partials/footer
