section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Algolia
    .fla.flcnw.flccv
      |Rapide présentation Algolia
      |SaaS Search
      |API client dans plein de langage
      |Speed, Relevance, UX
