section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Algolia: Search as a Service
    .fla.flcnw.h-100
      .fln.h-80.pv2
        img.h-100.shadow-4(src='./img/algolia/demo-yarn.gif')
      .fln.h-20.flrnw.flc
        .w-60.flrnw.flspbh.h3
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/php.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/ruby.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/javascript.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/python.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/ios.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/android.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/csharp.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/java.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/go.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/scala.svg')

      // |Rapide présentation Algolia
      // |SaaS Search
      // |API client dans plein de langage
      // |Speed, Relevance, UX
