section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b April Fools
    .fla.flcnw.flccv
      |Histoire du poisson d'avril
      |expliquer que c'était un poisson d'avril
      |donner les dates
      |nombres de vues
      |troublé les pistes. product hunt, release, mais surtout démo
