// Demo
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Live demo
    .fla.flcnw
      .fla.flrnw
        .fla.flcnw
          .fla.flc
            .fake-browser.shadow-3.center.w-80.f0
              img.w-100(src='./img/screencast.gif')
        .fln.flcnw.w-30.flccv
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/pillar-speed.svg')
            .fla.flrcv Fast
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/pillar-relevance.svg')
            .fla.flrcv Relevant
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/feature-highlighting.svg')
            .fla.flrcv Highlighting
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/feature-typo-tolerance.svg')
            .fla.flrcv Typo-tolerance
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/feature-synonyms.svg')
            .fla.flrcv Synonyms
          .fln.flrnw
            img.fln.w4(src='./img/algolia/feature-faceting.svg')
            .fla.flrcv Faceting

