section.slide--horizontal(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b CSS API Client
    .fla.flrnw
      .fln.flc.w-50.pa4
        .w-50.f0
          img(src='./img/april-fools.png')
      .fln.flcnw.w-50
        .fla.flrnw
          img.fln.w5.mv3(src='./img/offline.svg')
          .fla.flrcv Works offline!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/nojs.svg')
          .fla.flrcv No JavaScript Needed!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/flexbox.svg')
          .fla.flrcv Flexbox!

section.slide--horizontal(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b CSS API Client
    .fla.flrnw
      .fln.flc.w-50.pa4
        .fln.flcnw.flc
          .w-50.f0
            img(src='./img/april-fools-revealed.png')
          a.link.f2(href='https://community.algolia.com/algoliasearch-client-css/demo/' target="_blank") www.algolia.com/css
        // .h-60.f0
      .fln.flcnw.w-50.relative
        img.absolute.w5.bottom-1.right-1(src='./img/troll.png')
        .fla.flrnw
          img.fln.w5.mv3(src='./img/offline.svg')
          .fla.flrcv Works offline!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/nojs.svg')
          .fla.flrcv No JavaScript Needed!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/flexbox.svg')
          .fla.flrcv Flexbox!

