section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Trick #1: Attribute selectors
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            .f3 HTML
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-html
                |&lt;div&gt;1&lt;/div&gt;
                |&lt;div foo="bar"&gt;2&lt;/div&gt;
                |&lt;div foo="baz"&gt;3&lt;/div&gt;

        .fln.w-50.flc
          .fln
            .f3 CSS
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-scss
                |div[foo="bar"] {
                |  background: green;
                |}
      .fla.flc
        .fln.w-50.flrnw.flspah
          .db.ba.w-25.h3.flc 1
          .db.ba.w-25.h3.flc.bg-green 2
          .db.ba.w-25.h3.flc 3

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Trick #2: Pseudo-elements
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            .f3 HTML
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-html
                |&lt;div&gt;1&lt;/div&gt;
                |&lt;div id="foo"&gt;2&lt;/div&gt;

        .fln.w-50.flc
          .fln
            .f3 CSS
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-scss
                |#foo:after {
                |  content: "♥"
                |}
      .fla.flc
        .fln.w-50.flrnw.flspah
          .db.ba.w-25.h3.flc 1
          .db.ba.w-25.h3.flc 2♥

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Trick #3: Sibling selector
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            .f3 HTML
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-html
                |&lt;div class="foo"&gt;1&lt;/div&gt;
                |&lt;div class="bar"&gt;2&lt;/div&gt;
                |&lt;div class="baz"&gt;3&lt;/div&gt;
                |&lt;div class="foo"&gt;4&lt;/div&gt;

        .fln.w-50.flc
          .fln
            .f3 CSS
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-scss
                |.bar ~ .foo {
                |  background: green;
                |}
      .fla.flc
        .fln.w-75.flrnw.flspah
          .db.ba.w-20.h3.flc 1
          .db.ba.w-20.h3.flc 2
          .db.ba.w-20.h3.flc 3
          .db.ba.w-20.h3.flc.bg-green 4

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b #1 + #2 + #3
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            .f3 HTML
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-html
                |&lt;input type="text" value="Tim" /&gt;
                |&lt;div id="result"&gt;&lt;/div&gt;

        .fln.w-50.flc
          .fln
            .f3 CSS
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-scss
                |input[value="Tim"] ~ #result:after {
                |  content: "Tim Carry";
                |}
      .fla.flc
        .fln.w-50.flcnw
          .fln.flrnw.pa2.flspbh
            input.fln.pa2.br2(type="text" value="")
            .db.ba.w3.h3
          .fln.flrnw.pa2.flspbh
            input.fln.pa2.br2(type="text" value="Tim")
            .db.ba.pa3 Tim Carry
