section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Base Skills
    .fla.flcnw.flccv
      |technique de base
      |selecteur d'attribut
      |~ selector
      |pseudo element content
      |expliquer les trois individuellement
      |puis les 3 ensemble
