section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Conclusion
    .fla.flcnw.flccv
      |conclusion
      |ne l'utilisez pas en production
      |taille du fichier CSS grossit trop, trop vite
      |peut pas gérer correctement toutes les typos
      |permet de comprendre comment le moteur marche
      |bien plus puissant par l'API
      |plein de edge case pas gérés par mon implementation
      |peut pas savoir que impossible tant que pas essayé
