section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b CSS Strengths
    .fla.flcnw.flccv
      |Comment on fait un truc si compliqué en CSS
      |Pas de variables, de conditions, de loops, de functions, de regexp
      |En même temps, CSS est super fort pour ses selecteurs
      |Il peut selectionner n'importe quoi dans une liste en fonction de ses caracs
      |Ça corresponds pas mal à la définition d'un moteur de recherche
