section.slide--horizontal.slide--theme1
  .bg-gradient-april-fools.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh6.ph6 CSS? Really?

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b CSS is awesome
    .fla.flrnw.flc.f2
      ul.list.tl
        li
          span.b.dark-red No
          | vars
        li
          span.b.dark-red No
          | conditions
        li
          span.b.dark-red No
          | loops
        li
          span.b.dark-red No
          | functions
        li
          span.b.dark-red No
          | regular expressions

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Selectors
    .fla.flcnw.flc.f2
      ul.list.tl
        li.bullet-algolia-blue
          .code tag
          .di  , 
          .code .class
          .di  or  
          .code #id
        li.bullet-royal-blue
          .code [attribute=foo]
        li.bullet-shamrock
          .code hierarchical > tree
        li.bullet-koromiko
          .code siblings ~ elements
