section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Custom Font
    .fla.flcnw.flccv
      |generated content, donc peut pas utiliser de css dessus
      |utilise donc une font custom, qui est le merge d'une font de base et d'une bold
      |mise dans le private-use area
      |example du code du before
      |ces characteres sont des versions bold
