section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Custom ranking
    .fla.flcnw.flccv
      |même nom
      |mais plusieurs personnes s'appellent Alex, ou Nicolas
      |Comment les ranger?
      |On utilise un custom ranking, des données métiers
      |Masquées à l'utilisateur, mais utilisée dans le ranking
      |peut etre un score de popularité si c'était des chanteurs
      |là, c'est juste la date d'arrivée. Les premiers employés sont avant les plus
      |récents
