section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Feintes
    .fla.flcnw.flccv
      |quelques feintes
      |noms composés et lettres accentuées
      |besoin de trouver avec ou sans l'accent
      |besoin de trouver RCS sur Remy ou Christophe
      |générer des n-grams pour ça
