section.slide--horizontal
  .h-100.flcnw.bg-deep-cove
    .fln.f1.lh-title.tl.b.pl3.pt3 Highlight
    .fla.flcnw.h-100.mt4
      .fln.h-50.flrnw.flc
        .fln.w-50.flc
          +input.w-70.bg-bunting(value="mar")
        .fln.w-50.flc
          .fln.flcnw.bg-gradient-blue.titan-white.pa2.br3.w-90
            .fln.flrnw.f2
              .fln.flc.pa2
                img.h3(src="./img/marion-aguirre.png")
              .fla.flcnw.flccv.tl.pl2
                .fln
                  .di.b Mar
                  .di ion Aguirre
      .fln.h-50.flc.bg-near-black
        pre.bg-near-black.pa3.lh-copy.tl.f1.fln
          code.language-scss
            |#result8:before { 
            |  content: "Marion Aguirre"; 
            |}

section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Custom font
    .fla.flcnw.h-100.mt4.mb4
      .fln.h-50.relative
        .fln.absolute.top-10.left-10
          img.bg-titan-white.pa3.br3.ba.bunting(src="./img/raleway.png")
          .db.bg-titan-white.pa3.br3.shadow-3.ba.bunting.absolute.bottom--3.right--5
            img(src="./img/raleway-bold.png")
            .code.absolute.bottom-0.right-0.br3.br--bottom.br--right \e600 - \e700
      .fln.h-25.flrnw.fragment
        .fln.w-40.flc
          .fln.flcnw.bg-gradient-blue.titan-white.pa2.br3.w-90
            .fln.flrnw.f2
              .fln.flc.pa2
                img.h3(src="./img/marion-aguirre.png")
              .fla.flcnw.flccv.tl.pl2
                .fln
                  .di.b Mar
                  .di ion Aguirre
        .fln.w-60.flc
          pre.bg-near-black.pa3.lh-copy.tl.f3.fln.w-100
            code.language-scss
              |input[value="mar"] ~ #results #result8:before { 
              |  content: "\e64d \e661 \e672 ion Aguirre"; 
              |}
      .fln.h-25.flrnw.fragment
        .fln.w-40.flc
          .fln.flcnw.bg-gradient-blue.titan-white.pa2.br3.w-90
            .fln.flrnw.f2
              .fln.flc.pa2
                img.h3(src="./img/marion-aguirre.png")
              .fla.flcnw.flccv.tl.pl2
                .fln
                  .di.b Mari
                  .di on Aguirre
        .fln.w-60.flc
          pre.bg-near-black.pa3.lh-copy.tl.f3.fln.w-100
            code.language-scss
              |input[value="mari"] ~ #results #result8:before { 
              |  content: "\e64d \e661 \e672 \e669 on Aguirre"; 
              |}








