section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Highlight
    .fla.flcnw.flccv
      |highlight
      |peut trouver dans plein de choses
      |parfois dur de voir pourquoi une personne est affichée
      |besoin de highlight
      |montrer l'exemple de google
      |doit etre visible, mais pas trop
      |doit permettre de comprendre pourquoi un résultat est là, mais doit voir le
      |résultat en premier
