section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Idea
    .fla.flcnw.flccv
      |naissance de l'idée
      |octobre dernier
      |idée avec collègues
      |premier proto (retrouver les gifs?)
      |ajouter des features au fur et à mesure
      |améliorer l'algo pour générer moins de CSS
      |bug sur le nombre max de selecteurs
