section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b JavaScript
    .fla.flcnw.flccv
      |JavaScript
      |CSS ne rearde que la valeur dans le html
      |mettre à jour l'input n'update pas
      |le but était de faire illusion, donc on a menti
      |une ligne de js
      |un peu obvious: cette value est égale à cette value
      |sinon, pas d'update as-you-type
