section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Layout
    .fla.flcnw.flccv
      |amélioration de la mise en page
      |nom, prénom, image et job title
      |image vient de cloudinary pour avoir noir et blanc, rond et même format
      |nom et job title sont dans le before avec un saut de ligne
      |au hover, ajoute un fun fact
