// Pictures of the layout
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Layout (in one div)
    .fla.flrnw.flc
      .fln.w-60
        .fake-browser.shadow-3.center.w-80
          img.w-100(src='./img/layout.png')
      .fln.w-40
        img(src='./img/dustin.gif')
        pre.bg-near-black.pa2.lh-copy.tl
          code.language-html
            |  &lt;div id="result_42"&gt;&lt;/div&gt;

// Cloudinary for the image
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b www.cloudinary.com
    .fla.flrnw
      .fla.flcnw
        .fla.flcnw.flccv
          pre.bg-near-black.pa2.lh-copy.tl.fln
            code.language-scss
              |#result_42 {
              |  background-image: url([…cloudinary url…]);
              |  background-position: 50% 0;
              |  background-size: 200px;
              |}
        .fla.flcnw.flccv
          .bg-near-black.pa2.lh-copy.tl.near-white.dejavu
            |http://res.cloudinary.com/{app_id}/image/fetch/
            .db
              .di.blue w_220
              .di ,
              .di.blue h_220
              .di ,
              .di.blue c_scale
              .di ,
              .di.blue r_max
              .di ,
              .di.blue e_grayscale
              .di ,
              .di.blue q_90
              .di /
            .db.green
              |https://www.algolia.com/maxime.png
          
      .fln.flc.flcnw.w-third
        .fla.f0.flc
          img.w5(src='./img/gianluca-color.png')
        .fla.f0.flc
          img.w4(src='./img/gianluca-cloudinary.jpg')

// Fun-fact hover
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Hover fun fact
    .fla.flrnw
      .fla.flc
        pre.bg-near-black.pa2.lh-copy.tl
          code.language-scss
            |#result_42:after {
            |  content: "[…fun fact…]";
            |  opacity: 0;
            |  position: absolute;
            |  border-radius: 50%;
            |  background-image: linear-gradient(
            |    140deg,
            |    rgba(12,105,172,.75) 10%,
            |    rgba(24,35,89,.75) 90%
            |  );
            |}
            |#result_42:hover:after {
            |  opacity: 1;
            |}
      .fln.w-third.flc
        img(src='./img/dustin.gif')

// Multi-line name
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b ::before + \A + ::first-line
    .fla.flrnw
      .fla.flc
        pre.bg-near-black.pa2.lh-copy.tl
          code.language-scss
            |#result_42 {
            |  padding-top: 220px;
            |  &:before {
            |    content: "Dustin Coates \A Solution Engineer";
            |    white-space: pre;
            |  }
            |  &:first-line {
            |    font-weight: bold;
            |    line-height: 2.2rem;
            |  }
            |}
      .fln.w-third.flc
        img(src='./img/dustin.png')
