section.slide--vertical(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b More people
    .fla.flcnw
      .fla.flrnw
        .fln.w-60.flc
          .fln
            pre.bg-near-black.pa3.lh-copy.tl
              code.language-scss
                |input[value="Tim"] ~ #result:after {
                |  content: "Tim Carry";
                |}
                |input[value="Emily"] ~ #result:after {
                |  content: "Emily Hayman";
                |}
                |input[value="Kumiko"] ~ #result:after {
                |  content: "Kumiko Laroque";
                |}
        .fln.w-40.flc
          .fln.flcnw
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2.w4(type="text" value="Tim")
              .db.ba.ml2.pa3 Tim Carry
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2.w4(type="text" value="Emily")
              .db.ba.ml2.pa3 Emily Hayman
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2.w4(type="text" value="Kumiko")
              .db.ba.ml2.pa3 Kumiko Laroque

section.slide--vertical(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Only full matches...
    .fla.flcnw
      .fla.flrnw
        .fln.w-60.flc
          .fln
            pre.bg-near-black.pa3.lh-copy.tl
              code.language-scss
                |input[value="Tim"] ~ #result:after {
                |  content: "Tim Carry";
                |}
                |input[value="Emily"] ~ #result:after {
                |  content: "Emily Hayman";
                |}
                |input[value="Kumiko"] ~ #result:after {
                |  content: "Kumiko Laroque";
                |}
        .fln.w-40.flc
          .fln.flcnw
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2.w4(type="text" value="Ti")
              .db.ba.ml2.h3.w3
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2.w4(type="text" value="Emi")
              .db.ba.ml2.h3.w3
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2.w4(type="text" value="Kumi")
              .db.ba.ml2.h3.w3

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Search Vs Indexing
    .fla.flcnw.flc.mb5
      .fla.flc
        .f1.lh-title
          .blue.b Searching
          .fragment.i.mt2
            .di What will I find if I type 
            .di.b Tim
            .di ?
      .fla.flc
        .f1.lh-title
          .green.b Indexing
          .fragment.i.mt2
            .di What do I need to type to find 
            .di.b Tim Carry
            .di ?

section.slide--vertical
  .flcnw.pa3
    .fln.f1.lh-title.tl.b N-grams
    .fla.flrw.flc.f1.mt4
      .fln.bg-deep-cove.bittersweet.pa3.ma4 T
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Ti
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Tim
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Tim C
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Tim Ca
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Tim Car
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Tim Carr
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Tim Carry
      .fln.bg-deep-cove.bittersweet.pa3.ma4 C
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Ca
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Car
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Carr
      .fln.bg-deep-cove.bittersweet.pa3.ma4 Carry

section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b N-grams
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            pre.bg-near-black.pa3.lh-copy.tl
              code.language-scss
                |input[value="T"] ~ #result:after,
                |input[value="Ti"] ~ #result:after,
                |input[value="Tim"] ~ #result:after {
                |  content: "Tim Carry";
                |}
        .fln.w-50.flc
          .fln.flcnw
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2(type="text" value="T")
              .db.ba.ml4.pa3 Tim Carry
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2(type="text" value="Ti")
              .db.ba.ml4.pa3 Tim Carry
            .fln.flrnw.pa2.flspbh
              input.fln.pa2.br2(type="text" value="Tim")
              .db.ba.ml4.pa3 Tim Carry
