section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b n-grams
    .fla.flcnw.flccv
      |n-grams
      |besoin de taper tout, pas pratique
      |on peut trouver les résultats dès les premières lettre
      |donc générer les n-grams
      |quand on cherche on veut savoir les résultats qui correspondent à ce qu'on tape
      |quand on créé le moteur, on veut trouver les suites de lettres qui
      |corrrespondent à tel élément
      |ça s'appelle l'indexing
