section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Order
    .fla.flcnw.flccv
      |ordre d'affichage
      |maintenant on voit tout ce qui s'affiche
      |on comprends pourquoi tel résultat est là
      |mais on se demande pourquoi il est avant un autre
      |l'ordre est random parce que j'affiche tout en random
      |je doit classer par ordre de pertinence
      |first name > last name > job title
      |poids sur les attributs, d'abord ceux du first name, puis ceux du last name (ex:
      |Kim)
