section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Matching everything
    .fla.flrnw.h-100
      .fln.w-50.flcnw
        .fln.h-30.flcnw.flcab.flcch
          input.fln.pa2.br2.f1.w-80.bunting(type="text" value="mar")
        .fln.h-70
      .fln.w-50.flc
        .fln.flcnw.bg-white.bunting.pa2.br3.ba.bw1.w-90
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/alexandria-avritch.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Alexandria Avritch
            .fln.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di Event 
                .di.b Mar
                .di keting Manager
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/doug-do.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Doug Do
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di OSDR - Mid 
                .di.b Mar
                .di ket
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/karim-matrah.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di Karim 
                .di.b Matr
                .di ah
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Software Engineer
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/martin-salle.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di tin Sallé
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Account Executive
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/marie-laure-thuret.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di ie-Laure Thuret
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Software Engineer
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/maryann-kongovi.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di yann Kongovi
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di VP of Operations
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/neil-richler.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Neil Richler
            .fln.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di Growth 
                .di.b Mar
                .di keting
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/marion-aguirre.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di ion Aguirre
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Recruiter
          .fln.flrnw.f3
            .fln.flc.pa2
              img.h2(src="./img/pawel-zawisza.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Pawel Zawisza
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di OSDR - Mid 
                .di.b Mar
                .di ket

section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Ordering results
    .fla.flrnw.h-100
      .fln.w-50.flcnw
        .fln.h-30.flcnw.flcab.flcch
          input.fln.pa2.br2.f1.w-80.bunting(type="text" value="mar")
        .fln.h-70.flc.fragment
          pre.bg-near-black.pa2.lh-copy.tl.f4.fln
            code.language-scss
              |#results div { flex: 1; }
              |
              |input[value="mar"] ~ #results #result16  { order: 1; }
              |input[value="mar"] ~ #results #result8   { order: 2; }
              |input[value="mar"] ~ #results #result4   { order: 3; }
              |input[value="mar"] ~ #results #result15  { order: 4; }
              |input[value="mar"] ~ #results #result42  { order: 5; }
              |input[value="mar"] ~ #results #result23  { order: 6; }
              |input[value="mar"] ~ #results #result117 { order: 7; }
              |input[value="mar"] ~ #results #result28  { order: 8; }
              |input[value="mar"] ~ #results #result110 { order: 9; }
      .fln.w-50.flc
        .fln.flcnw.bg-white.bunting.pa2.br3.ba.bw1.w-90
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/marie-laure-thuret.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di ie-Laure Thuret
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Software Engineer
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/marion-aguirre.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di ion Aguirre
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Recruiter
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/martin-salle.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di tin Sallé
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Account Executive
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/maryann-kongovi.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di.b Mar
                .di yann Kongovi
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di VP of Operations
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/karim-matrah.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln
                .di Karim 
                .di.b Matr
                .di ah
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .di Software Engineer
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/neil-richler.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Neil Richler
            .fln.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di Growth 
                .di.b Mar
                .di keting
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/alexandria-avritch.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Alexandria Avritch
            .fln.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di Event 
                .di.b Mar
                .di keting Manager
          .fln.flrnw.bb.f3
            .fln.flc.pa2
              img.h2(src="./img/pawel-zawisza.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Pawel Zawisza
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di OSDR - Mid 
                .di.b Mar
                .di ket
          .fln.flrnw.f3
            .fln.flc.pa2
              img.h2(src="./img/doug-do.webp")
            .fln.flcnw.flccv.tl.pl2.w-40
              .fln Doug Do
            .fla.flcnw.flccv.tl.pl2.f4.o-80
              .fln
                .di OSDR - Mid 
                .di.b Mar
                .di ket
