// Non-random order
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Empty query
    .fla.flrnw
      .fla.relative.flc
        .absolute.f0
          .fake-browser.shadow-3.center.mw-75
            .bg-white 
              input.pa1.br2.f2.w-50.mv2(type="text")
              img.w-100(src='./img/non-random.png')
        .absolute.top-3.left-3.fragment.f0.mw-75
          .fake-browser.shadow-3.center
            .bg-white 
              input.pa1.br2.f2.w-50.mv2(type="text")
              img.w-100(src='./img/non-random.png')
        .absolute.top-2.left-4.fragment.f0.mw-75
          .fake-browser.shadow-3.center
            .bg-white 
              input.pa1.br2.f2.w-50.mv2(type="text")
              img.w-100(src='./img/non-random.png')
        .absolute.top-3.left-5.fragment.f0.mw-75
          .fake-browser.shadow-3.center
            .bg-white 
              input.pa1.br2.f2.w-50.mv2(type="text")
              img.w-100(src='./img/non-random.png')


// Random in CSS?
// section.slide--vertical
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b Random in CSS?
//     .fla.flrnw
//       .fla.flc
//         .flcnw.f1.tl.h-50.flcspa
//           .bullet-radical-red
//             span.b.dark-red No
//             | vars
//           .bullet-radical-red
//               span.b.dark-red No
//               | functions
//           .flrnw.flrcv.fragment
//             .bullet-radical-red
//               .b.di.dark-red.fln No
//             .fln.bg-black-80.near-white.ml2.mv2.dejavu.f2.ph2 order: random;
//       .fla.flc.fragment.flcnw
//         .fln.f1.mb3 SCSS? Less? Stylus?
//         img.fln(src='./img/xkcd_random.png')

// Webtask.io
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b.flrnw.flrcv
      img.h3.mr3(src='./img/webtask.svg')
      .di webtask.io
    .fla.flrnw.relative
      .fla.flc.w-50.flcnw
        .fake-browser.shadow-3.center.f0
          img.w-100(src='./img/webtask-editor.png')
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu.mt3
          .di webtask.io/edit/
          .di.green {appid}
          .di /
          .di.blue random-css
      .fla.flc.w-50.flcnw
        pre.bg-near-black.pa4.lh-copy.tl.f4
          code.language-scss
            |#result_1 { order: 4; }
            |#result_2 { order: 8; }
            |#result_3 { order: 15; }
            |#result_4 { order: 16; }
            |#result_5 { order: 23; }
            |#result_6 { order: 42; }
            |[…]
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu.mt3
          .di.green {appid}
          .di .webtask.io/
          .di.blue random-css
      .absolute.top-2.left-4.fragment
        .fake-browser.shadow-3.center.f0
          img.w-100(src='./img/random.gif')
