section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b searchable attributes
    .fla.flcnw.flccv
      |plus de searchableAttributes
      |par défaut chercher seulement sur first name
      |ajouté last name, et job title
      |si j'affiche des infos, je dois permettre e rechercher dessus, sinon frustrant
      |chaque nouvel attribut je dois générer des n-grams pour ça
      |augmente la taille du fichier
