section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Several results at once
    .fla.flrnw.h-100
      .fln.w-40.flc
        +input.w-70.bg-bunting(value="alexandre")
      .fln.w-60.flc
        .fln.flcnw.bg-gradient-blue.white.pa2.br3.w-90.f1
          .fln.flrnw.bb
            .fln.flc.pa2
              img.h4(src="./img/alexandre-collin.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Collin
          .fln.flrnw.bb
            .fln.flc.pa2
              img.h4(src="./img/alexandre-meunier.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Meunier
          .fln.flrnw
            .fln.flc.pa2
              img.h4(src="./img/alexandre-stanislawski.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Stanislawski

section.slide--horizontal
  .h-100.flcnw.pa3.bg-near-black
    .fln.f1.lh-title.tl.b More divs
    .fla.flrnw.h-100
      .fln.w-40
        pre.pa4.lh-copy.tl.f3
          code.language-html
            |&lt;input 
            |  type="search" value="" 
            |  oninput="…" 
            |/&gt;
            |&lt;!-- one div per employee --&gt;
            |&lt;div id="results"&gt;
            |  &lt;div id="result0"&gt;&lt;/div&gt;
            |  &lt;div id="result1"&gt;&lt;/div&gt;
            |  &lt;div id="result2"&gt;&lt;/div&gt;
            |  […]
            |  &lt;div id="result148"&gt;&lt;/div&gt;
            |  &lt;div id="result149"&gt;&lt;/div&gt;
            |  &lt;div id="result150"&gt;&lt;/div&gt;
            |&lt;/div&gt;
      .fln.w-60.flcnw.flccv
        .fln.fragment
          pre.pa3.lh-copy.tl.f3.w-100
            code.language-scss
              |// Pre-fill the content
              |#result0:before { content: "Aurora Pleguezelo" }
              |[…]
              |#result15:before { content: "Alexandre Collin" }
              |#result16:before { content: "Alexandre Meunier" }
              |#result17:before { content: "Alexandre Stanislawski" }
              |[…]
              |#result150:before { content: "Zo Asmail" }
          pre.ph3.pb3.lh-copy.tl.f3.w-100.fragment
            code.language-scss
              |// Hide them all
              |#results div { display: none }
          pre.ph3.pb3.lh-copy.tl.f3.w-100.fragment
            code.language-scss
              |// Show only for matching keywords
              |input[value="alexandre" i] ~ #results #result15,
              |input[value="alexandre" i] ~ #results #result16,
              |input[value="alexandre" i] ~ #results #result17 {
              |  display: block
              |}
        
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Several results at once
    .fla.flrnw.h-100
      .fln.w-60.flc.flcnw
        .fln.h-50.flc
          +input.w-80.bg-bunting#demo-several-results-input(value="")
        .fln.h-50.flc
          pre.bg-near-black.pa3.lh-copy.tl.f3
            code.language-scss
              |input[value="alexandre" i] ~ #results #result15,
              |input[value="alexandre" i] ~ #results #result16,
              |input[value="alexandre" i] ~ #results #result17 {
              |  display: block
              |}

      .fln.w-40.flc
        .fln.flcnw.bg-white.bunting.br3.ba.bw1.w-90
          .fln.flrnw.bb.bg-ghost.o-80.br3.br--top
            .fln.flc.pa2
              img.h3(src="./img/aurora-pleguezuelo.png")
            .fla.flcnw.flccv.tl.pl2 Aurora Pleguezuelo
          .fln.flrnw.pa2.bg-ghost.o-80 […]
          .fln.flrnw.bb.bg-ghost.o-80.demo-several-results-match
            .fln.flc.pa2
              img.h3(src="./img/alexandre-collin.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Collin
          .fln.flrnw.bb.bg-ghost.o-80.demo-several-results-match
            .fln.flc.pa2
              img.h3(src="./img/alexandre-meunier.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Meunier
          .fln.flrnw.bb.bg-ghost.o-80.demo-several-results-match
            .fln.flc.pa2
              img.h3(src="./img/alexandre-stanislawski.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Stanislawski
          .fln.flrnw.pa2.bg-ghost.o-80 […]
          .fln.flrnw.bg-ghost.o-80.br3.br--bottom
            .fln.flc.pa2
              img.h3(src="./img/zo-asmail.png")
            .fla.flcnw.flccv.tl.pl2 Zo Asmail
    aside.notes
      p Great, but I still have to write the complete name
      p Would be better if I could find them all, just by typing alex
      p I should have to ask my users to type a complete keyword if I already have matches for an incomplete one

section.slide--horizontal.debugs
  .h-100.flcnw.pa3.bg-gradient-dark
    .fln.f1.lh-title.tl.b Searching and Indexing
    .fla.flcnw.h-100
      .fla.flrnw
        .w-50.flc.f-subheadline
          .b Searching
        .w-50.flc
          .fln.f1.w-90.fragment
            .db What will I find if I
            .db
              .di search for 
              .dib.v-mid
                .br6.pa3.flrnw.bg-bunting
                  .fln.flc.f2.mr3.titan-white-50
                    .icon.icon-search
                  .titan-white.f2 alex
              .di ?
      .fla.flrnw
        .w-50.flc.f-subheadline
          .b Indexing
        .w-50.flc
          .fln.f1.w-90.fragment
            .di What should a user type to find  
            .dib.v-mid.bg-gradient-blue.titan-white.br6.pa2
              .fln.flc
                img.h3.mr2(src="./img/alexandre-meunier.png")
                .di Alexandre
            .di ?


section.slide--horizontal
  .h-100.flcnw.pa3.bg-gradient-dark
    .fla.flcnw.h-100.f1.mt3
      .fln.flrnw.b.f2.titan-white.b
        .fln.w-40.tl.pl2 Potential results:
        .fln.w-60.tl.pl2 Keyword to type:
      .fla.flrnw.tl
        .fln.w-40.flc
          .fln.flrnw.bg-gradient-blue.titan-white.br6
            .fln.flc.pa2
              img.h3(src="./img/alexandre-meunier.png")
            .fla.flcnw.flccv.tl.pl2.pr3 Alexandre
        .fln.w-60.flc.f2
          .fln.flrw.w-100
            .fln.pr2.fragment(data-fragment-index="2")
              .code a
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code al
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code ale
              .di , 
            .fln.pr2
              .code alex
              .di.fragment(data-fragment-index="3") , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexa
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexan
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexand
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexandr
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexandre
      .fla.flrnw.tl.fragment(data-fragment-index="1")
        .fln.w-40.flc
          .fln.flrnw.bg-gradient-blue.titan-white.br6
            .fln.flc.pa2
              img.h3(src="./img/alexandra-prokhorova.png")
            .fla.flcnw.flccv.tl.pl2.pr3 Alexandra
        .fln.w-60.flc.f2
          .fln.flrw.w-100
            .fln.pr2.fragment(data-fragment-index="2")
              .code a
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code al
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code ale
              .di , 
            .fln.pr2
              .code alex
              .di.fragment(data-fragment-index="3") , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexa
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexan
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexand
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexandr
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexandra
      .fla.flrnw.tl.fragment(data-fragment-index="1")
        .fln.w-40.flc
          .fln.flrnw.bg-gradient-blue.titan-white.br6
            .fln.flc.pa2
              img.h3(src="./img/alexandria-avritch.png")
            .fla.flcnw.flccv.tl.pl2.pr3 Alexandria
        .fln.w-60.flc.f2
          .fln.flrw.w-100
            .fln.pr2.fragment(data-fragment-index="2")
              .code a
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code al
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code ale
              .di , 
            .fln.pr2
              .code alex
              .di.fragment(data-fragment-index="3") , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexa
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexan
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexand
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexandr
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexandri
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexandria
      .fla.flrnw.tl.fragment(data-fragment-index="1")
        .fln.w-40.flc
          .fln.flrnw.bg-gradient-blue.titan-white.br6
            .fln.flc.pa2
              img.h3(src="./img/alexander-kudelka.png")
            .fla.flcnw.flccv.tl.pl2.pr3 Alexander
        .fln.w-60.flc.f2
          .fln.flrw.w-100
            .fln.pr2.fragment(data-fragment-index="2")
              .code a
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code al
              .di , 
            .fln.pr2.fragment(data-fragment-index="2")
              .code ale
              .di , 
            .fln.pr2
              .code alex
              .di.fragment(data-fragment-index="3") , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexa
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexan
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexand
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexande
              .di , 
            .fln.pr2.fragment(data-fragment-index="3")
              .code alexander

section.slide--horizontal
  .h-100.flcnw.pa3.bg-near-black
    .fla.flcnw.h-100.flc
      pre.pa2.lh-copy.tl.f2.fln
        code.language-scss
          |input[value="a" i]          ~ #results #result22,
          |input[value="al" i]         ~ #results #result22,
          |input[value="ale" i]        ~ #results #result22,
          |input[value="alex" i]       ~ #results #result22,
          |input[value="alexa" i]      ~ #results #result22,
          |input[value="alexan" i]     ~ #results #result22,
          |input[value="alexand" i]    ~ #results #result22,
          |input[value="alexandr" i]   ~ #results #result22,
          |input[value="alexandri" i]  ~ #results #result22,
          |input[value="alexandria" i] ~ #results #result22 {
          |  display: block
          |}
    .absolute.absolute-0.bg-black-50.fragment
      .w-100.h-100
        .flrnw.h-100.w-100.flc
          .fln.white.f-subheadline.b.h-50.w-80.flc.flcnw.flcspa
            .fln + last name & job title
            .fln.fragment + accented characters
            .fln.fragment + synonyms
            .fln.fragment + typo-tolerance
    .absolute.absolute-0.bg-black-80.fragment
      .w-100.h-100
        .flrnw.h-100.w-100.flc
          .fln.algolia-blue.f-headline.b.h-50.w-80.flc.flcnw.flcspa.scale-200
            .fln x 150

