section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Several results
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-html
                |&lt;input type="text" onchange="…"/&gt;
                |&lt;div id="results"&gt;
                |  &lt;div id="result_0"&gt;&lt;/div&gt;
                |  &lt;div id="result_1"&gt;&lt;/div&gt;
                |  &lt;div id="result_2"&gt;&lt;/div&gt;
                |&lt;/div&gt;

        .fln.w-50.flc
          .fln
            pre.bg-near-black.pa4.lh-copy.tl.f5
              code.language-scss
                |#result_0:after { content: "Julien Lemoine"; }
                |#result_1:after { content: "Josh Dzielak"; }
                |#result_2:after { content: "Jonas Badalic"; }
                |
                |#results div { display: none; }
                |
                |input[value=""] ~ #results div { display: block; }
                |
                |input[value="Jo"] ~ #results #result_1:after,
                |input[value="Jo"] ~ #results #result_2:after {
                |  display: block;
                |}
                |[…]
      .fla.flc
        .fln.flcnw
          .fln.flrnw.pa2.flspbh
            input.fln.pa2.br2(type="text" value="Jo")
            .db.ba.pa3.ml3.o-30 Julien Lemoine
            .db.ba.pa3.ml3.bg-green Josh Dzielak
            .db.ba.pa3.ml3.bg-green Jonas Badalic

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Lots of rules...
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            pre.bg-near-black.pa3.lh-copy.tl.f5
              code.language-scss
                |input[value="J"] ~ #results #result_1:after,
                |input[value="J"] ~ #results #result_2:after,
                |input[value="J"] ~ #results #result_3:after {
                |  display: block;
                |}
                |input[value="Jo"] ~ #results #result_1:after,
                |input[value="Jo"] ~ #results #result_2:after {
                |  display: block;
                |}
                |input[value="Jos"]  ~ #results #result_2:after,
                |input[value="Josh"] ~ #results #result_2:after {
                |  display: block;
                |}

        .fln.w-50.flc
          .fln
            pre.bg-near-black.pa3.lh-copy.tl.f5
              code.language-scss
                |input[value="Jon"]   ~ #results #result_2:after,
                |input[value="Jona"]  ~ #results #result_2:after,
                |input[value="Jonas"] ~ #results #result_2:after {
                |  display: block;
                |}
                |input[value="Ju"]     ~ #results #result_0:after,
                |input[value="Jul"]    ~ #results #result_0:after,
                |input[value="Juli"]   ~ #results #result_0:after,
                |input[value="Julie"]  ~ #results #result_0:after,
                |input[value="Julien"] ~ #results #result_0:after {
                |  display: block;
                |}
