section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Several results at once
    .fla.flrnw.h-100
      .fln.w-50.flc
        +input.w-70.bg-bunting(value="alexandre")
      .fln.w-50.flc
        .fln.flcnw.bg-gradient-blue.white.pa2.br3.w-70
          .fln.flrnw.bb
            .fln.flc.pa2
              img.h3(src="./img/alexandre-collin.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Collin
          .fln.flrnw.bb
            .fln.flc.pa2
              img.h3(src="./img/alexandre-meunier.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Meunier
          .fln.flrnw
            .fln.flc.pa2
              img.h3(src="./img/alexandre-stanislawski.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Stanislawski

section.slide--horizontal
  .h-100.flcnw.pa3.bg-near-black
    .fln.f1.lh-title.tl.b More divs
    .fla.flrnw.h-100
      .fln.w-40
        pre.pa4.lh-copy.tl.f3
          code.language-html
            |&lt;input 
            |  type="text" value="" 
            |  oninput="…" 
            |/&gt;
            |&lt;!-- one div per employee --&gt;
            |&lt;div id="results"&gt;
            |  &lt;div id="result0"&gt;&lt;/div&gt;
            |  &lt;div id="result1"&gt;&lt;/div&gt;
            |  &lt;div id="result2"&gt;&lt;/div&gt;
            |  […]
            |  &lt;div id="result148"&gt;&lt;/div&gt;
            |  &lt;div id="result149"&gt;&lt;/div&gt;
            |  &lt;div id="result150"&gt;&lt;/div&gt;
            |&lt;/div&gt;
      .fln.w-60.flcnw.flccv
        .fln.fragment
          pre.pa3.lh-copy.tl.f3.w-100
            code.language-scss
              |// Pre-fill the content
              |#result0:before { content: "Aurora Pleguezelo" }
              |[…]
              |#result15:before { content: "Alexandre Collin" }
              |#result16:before { content: "Alexandre Meunier" }
              |#result17:before { content: "Alexandre Stanislawski" }
              |[…]
              |#result150:before { content: "Zo Asmail" }
          pre.ph3.pb3.lh-copy.tl.f3.w-100.fragment
            code.language-scss
              |// Hide them all
              |#results div { display: none }
          pre.ph3.pb3.lh-copy.tl.f3.w-100.fragment
            code.language-scss
              |// Show only for matching keywords
              |input[value="alexandre"] ~ #result #result15,
              |input[value="alexandre"] ~ #result #result16,
              |input[value="alexandre"] ~ #result #result17 {
              |  display: block
              |}
        
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Several results at once
    .fla.flrnw.h-100
      .fln.w-60.flc.flcnw
        .fln.h-50.flc
          +input.w-80.bg-bunting#demo-several-results-input(value="")
        .fln.h-50.flc
          pre.bg-near-black.pa3.lh-copy.tl.f3
            code.language-scss
              |input[value="alexandre"] ~ #result #result15,
              |input[value="alexandre"] ~ #result #result16,
              |input[value="alexandre"] ~ #result #result17 {
              |  display: block
              |}

      .fln.w-40.flc
        .fln.flcnw.bg-white.bunting.br3.ba.bw1.w-90
          .fln.flrnw.bb.bg-ghost.o-80.br3.br--top
            .fln.flc.pa2
              img.h3(src="./img/aurora-pleguezuelo.png")
            .fla.flcnw.flccv.tl.pl2 Aurora Pleguezuelo
          .fln.flrnw.pa2.bg-ghost.o-80 […]
          .fln.flrnw.bb.bg-ghost.o-80.demo-several-results-match
            .fln.flc.pa2
              img.h3(src="./img/alexandre-collin.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Collin
          .fln.flrnw.bb.bg-ghost.o-80.demo-several-results-match
            .fln.flc.pa2
              img.h3(src="./img/alexandre-meunier.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Meunier
          .fln.flrnw.bb.bg-ghost.o-80.demo-several-results-match
            .fln.flc.pa2
              img.h3(src="./img/alexandre-stanislawski.png")
            .fla.flcnw.flccv.tl.pl2 Alexandre Stanislawski
          .fln.flrnw.pa2.bg-ghost.o-80 […]
          .fln.flrnw.bg-ghost.o-80.br3.br--bottom
            .fln.flc.pa2
              img.h3(src="./img/zo-asmail.png")
            .fla.flcnw.flccv.tl.pl2 Zo Asmail
    aside.notes
      p Great, but I still have to write the complete name
      p Would be better if I could find them all, just by typing alex
      p I should have to ask my users to type a complete keyword if I already have matches for an incomplete one

section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b More Alex
    .fla.flcnw.h-100.f1.ba.bw1.b--titan-white.mt3
      .fln.flrnw.b.f2.algolia-blue.bb.b--titan-white
        .fln.w-50.tl.pl2 Expected result
        .fln.w-50.tl.pl2 Keyword to type
      .fln.flrnw.tl
        .fln.w-50.flcnw.flcspa.pa2
          .fln Alexander
          .fln Alexandra
          .fln Alexandre
          .fln Alexandria
        .fln.w-50.flcnw.flccv
          .flrw.w-80
            .fln.pr2.transparent A, 
            .fln.pr2.transparent Al, 
            .fln.pr2.transparent Ale, 
            .fln Alex
            .fln.pr2.transparent , Alexa, 
            .fln.pr2.transparent Alexan, 
            .fln.transparent Alexand

section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b N-grams
    .fla.flcnw.h-100.f1.ba.bw1.b--titan-white.mt3.tl.flcspb
      .fln.flrnw.b.f2.algolia-blue.bb.b--titan-white
        .fln.w-50.pl2 Expected result
        .fln.w-50.pl2 Keyword to type
      .fln.flrnw
        .fln.w-50.flcnw.pl2
          .fln 
            .di.b Alexand
            .di er
          .fln 
            .di.b Alexand
            .di ra
          .fln 
            .di.b Alexand
            .di re
          .fln 
            .di.b Alexand
            .di ria
        .fln.w-50.flcnw.flccv
          .flrw.w-80
            .fln.pr2 A, 
            .fln.pr2 Al, 
            .fln.pr2 Ale, 
            .fln Alex
            .fln.pr2 , Alexa, 
            .fln.pr2 Alexan, 
            .fln Alexand
      .fln.flrnw.bb.bt.fragment(data-fragment-index="1")
        .fln.w-50.pl2 Alexander
        .fln.w-50.f2.flcnw.flccv + Alexande, Alexander
      .fln.flrnw.bb.fragment(data-fragment-index="1") 
        .fln.w-50.pl2 Alexandra
        .fln.w-50.f2.flcnw.flccv + Alexandr, Alexandra
      .fln.flrnw.bb.fragment(data-fragment-index="1") 
        .fln.w-50.pl2 Alexandre
        .fln.w-50.f2.flcnw.flccv + Alexandr, Alexandre
      .fln.flrnw.fragment(data-fragment-index="1") 
        .fln.w-50.pl2 Alexandria
        .fln.w-50.f2.flcnw.flccv + Alexandr, Alexandri, Alexandria

// section.slide--horizontal
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b In CSS:
//     .fla.flcnw.h-100.flc
//       pre.bg-near-black.pa2.lh-copy.tl.f2.fln
//         code.language-scss
//           |input[value="a"]          ~ #results #result18,
//           |input[value="al"]         ~ #results #result18,
//           |input[value="ale"]        ~ #results #result18,
//           |input[value="alex"]       ~ #results #result18,
//           |input[value="alexa"]      ~ #results #result18,
//           |input[value="alexan"]     ~ #results #result18,
//           |input[value="alexand"]    ~ #results #result18,
//           |input[value="alexandr"]   ~ #results #result18,
//           |input[value="alexandri"]  ~ #results #result18,
//           |input[value="alexandria"] ~ #results #result18 {
//           |  display: block
//           |}

// section.slide--horizontal
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b Several results at once
//     .fla.flrnw.h-100
//       .fln.w-50.flc.flcnw
//         .fln.flc
//           input#demo-alex-input.pa2.br2.f1.w-80.bunting(type="text" value="")
//
//       .fln.w-50.flc
//         .fln.flcnw.bg-white.bunting.pa2.br3.ba.bw1.w-70
//           .fln.flrnw.pa2.bg-ghost.o-80 […]
//           - 
//             var items = [
//               {"name": "Alexander Kudelka", "picture": "alexander-kudelka.png"},
//               {"name": "Alexander Webb", "picture": "alexander-webb.png"},
//               {"name": "Alexandra Prokhorova", "picture": "alexandra-prokhorova.png"},
//               {"name": "Alexandre Collin", "picture": "alexandre-collin.png"},
//               {"name": "Alexandre Meunier", "picture": "alexandre-meunier.png"},
//               {"name": "Alexandre Popp", "picture": "alexandre-popp.png"},
//               {"name": "Alexandre Stanislawski", "picture": "alexandre-stanislawski.png"},
//               {"name": "Alexandria Avritch", "picture": "alexandria-avritch.png"}
//             ]
//           each item in items
//             .fln.flrnw.bb.bg-ghost.o-80.f3.demo-alex-result(data-name=`${item.name}`)
//               .fln.flc.pa2
//                 img.h2(src=`./img/${item.picture}`)
//               .fla.flcnw.flccv.tl.pl2 #{item.name}
//           .fln.flrnw.pa2.bg-ghost.o-80 […]

section.slide--horizontal
  .h-100.flcnw.pa3.bg-near-black
    .fla.flcnw.h-100.flc
      pre.pa2.lh-copy.tl.f2.fln
        code.language-scss
          |input[value="a"]          ~ #results #result22,
          |input[value="al"]         ~ #results #result22,
          |input[value="ale"]        ~ #results #result22,
          |input[value="alex"]       ~ #results #result22,
          |input[value="alexa"]      ~ #results #result22,
          |input[value="alexan"]     ~ #results #result22,
          |input[value="alexand"]    ~ #results #result22,
          |input[value="alexandr"]   ~ #results #result22,
          |input[value="alexandri"]  ~ #results #result22,
          |input[value="alexandria"] ~ #results #result22 {
          |  display: block
          |}
    .absolute.absolute-0.bg-black-50.fragment
      .w-100.h-100
        .flrnw.h-100.w-100.flc
          .fln.white.f-subheadline.b.h-50.w-80.flc.flcnw.flcspa
            .fln + last name & job title
            .fln.fragment + accented characters
            .fln.fragment + synonyms
            .fln.fragment + typo-tolerance
    .absolute.absolute-0.bg-black-80.fragment
      .w-100.h-100
        .flrnw.h-100.w-100.flc
          .fln.algolia-blue.f-headline.b.h-50.w-80.flc.flcnw.flcspa.scale-200
            .fln x 150

