section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Plusieurs résultats
    .fla.flcnw.flccv
      |afficher plusieurs résultats
      |juste mettre un after pas assez, veut en afficher plus
      |crée plein de divs, leur mets leur data de base mais masqué
      |display: block seulement si matche
      |laisse l'empty query, qui doit tout afficher
