section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Synonyms
    .fla.flcnw.flccv
      |synonyms
      |en vrai personne appelle Rémy-Christophe comme ça
      |on utilise RCS
      |on a l'habitude de se voir sur github, par login
      |donc ajout de synonymes
      |ajouter un nouveau n-gram à un résultat
      |mais pour pas perturber l'utilisateur, surligner celui-là
