section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Tie-breaking
    .fla.flcnw.flccv
      |Tie-Breaking
      |fonctionne selon un principe de buckets
      |"Ch"
      |d'abord les matches dans le first name, puis last name, puis job
      |dans chaque bucket, rangé par ordre d'arrivée
      |API prends en comte plus de uckets, ainsi que le nombre de typos
