section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Typos
    .fla.flcnw.flccv
      |typos
      |certaines personnes ont des noms compliqués
      |on va faire des fautes, on ne sait pas comment ça s'écrit
      |gros doigts sur mobile
      |important d'etre tolerent à la faute de frappe
      |shermesser? schermeser?
      |générer de nouveaux n-grams pour les fautes
      |techniquement une faute se calcule avec la distance de levenshtein
      |nombre d'ajout, suppression, permutations pour arriver au mot
      |peut se générer, mais ferait un fichier CSS bien trop gros
      |me suis limité à un seul type de faute
      |où on enlever une lettre
      |et bien sur celui que j'utilise dans la démo
      |garde le highlight
